<p-table [value]="paymentsList">
    <ng-template pTemplate="header">
        <tr>
            <th>Lp.          </th>
            <th>Rok          </th>
            <th>Miesiąc      </th>
            <th>Osoba        </th>
            <th>Wynagrodzenie</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
        <tr>
            <td>{{ rowIndex + 1 }}.</td>
            <td>{{ item.year    }}</td>
            <td>{{ item.month   }}</td>
            <td>{{ item.user    }}</td>
            <td>{{ item.amount  }}</td>
        </tr>
    </ng-template>
</p-table>