<div class="p-grid">
    <div class="p-col-2">
        <app-menu></app-menu>
    </div>
    <div class="p-col-10">
        <div class="p-grid">
            <div class="p-col-12">
                <div class="p-grid">
                    <div class="p-col-4">
                        <button pButton (click)="openModalAddPayment()" icon="pi pi-plus" label="Dodaj wypłatę" [style]="{ width: '100%' }" class="p-button-sm"></button>
                    </div>
                    <div class="p-col-4">
                        <button pButton  (click)="openModalAddExpense()" icon="pi pi-plus" label="Dodaj wydatek" [style]="{ width: '100%' }" class="p-button-sm"></button>
                    </div>
                    <div class="p-col-4">
                        <button pButton  (click)="openModalAddProfit()" icon="pi pi-plus" label="Dodaj przychód" [style]="{ width: '100%' }" class="p-button-sm"></button>
                    </div>
                </div>
            </div>
            <div class="p-col-12">
                <p-panel header="Wykresy">

                </p-panel>
            </div>
            <div class="p-col-12">
                <p-panel header="Wypłaty">
                    <app-salary-view></app-salary-view>
                </p-panel>
            </div>
            <div class="p-col-12">
                <p-panel header="Wydatki">

                </p-panel>
            </div>
            <div class="p-col-12">
                <p-panel header="Przychody">

                </p-panel>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Dodaj wypłatę" (onHide)="closeModalAddPayment()" [(visible)]="displayAddPayment" [style]="{ width: '30vw' }" [modal]="true">
    <app-adding-salary *ngIf="displayAddPayment == true"></app-adding-salary>
</p-dialog>
<p-dialog header="Dodaj wydatek" (onHide)="closeModalAddExpense()" [(visible)]="displayAddExpense" [style]="{ width: '30vw' }" [modal]="true">

</p-dialog>
<p-dialog header="Dodaj przychód" (onHide)="closeModalAddProfit()" [(visible)]="displayAddProfit" [style]="{ width: '30vw' }" [modal]="true">

</p-dialog>