<div class="p-grid">
    <div class="p-col-2">
        <app-menu></app-menu>
    </div>
    <div class="p-col-10">
        <div class="p-grid">
            <div class="p-col-12">
                <p-panel header="Wykresy">

                </p-panel>
            </div>
            <div class="p-col-12">
                <p-panel header="Wypłaty">
                    <ng-template pTemplate="icons">
                        <button pButton (click)="openModalAddPayment()" icon="pi pi-plus" pTooltip="Dodaj nową wypłatę." tooltipPosition="bottom" class="p-button-sm"></button>
                    </ng-template>
                    <app-salary-view></app-salary-view>
                </p-panel>
            </div>
            <div class="p-col-12">
                <p-panel header="Wydatki">
                    <ng-template pTemplate="icons">
                        <button pButton (click)="openModalAddExpense()" icon="pi pi-plus" pTooltip="Dodaj nowy wydatek." tooltipPosition="bottom" class="p-button-sm"></button>
                    </ng-template>
                </p-panel>
            </div>
            <div class="p-col-12">
                <p-panel header="Przychody">
                    <ng-template pTemplate="icons">
                        <button pButton (click)="openModalAddProfit()" icon="pi pi-plus" pTooltip="Dodaj nowy przychód." tooltipPosition="bottom" class="p-button-sm"></button>
                    </ng-template>
                    <app-profit-view></app-profit-view>
                </p-panel>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Dodaj wypłatę" (onHide)="closeModalAddPayment()" [(visible)]="displayAddPayment" [style]="{ width: '30vw' }" [modal]="true">
    <app-adding-salary *ngIf="displayAddPayment == true"></app-adding-salary>
</p-dialog>
<p-dialog header="Dodaj wydatek" (onHide)="closeModalAddExpense()" [(visible)]="displayAddExpense" [style]="{ width: '30vw' }" [modal]="true">

</p-dialog>
<p-dialog header="Dodaj przychód" (onHide)="closeModalAddProfit()" [(visible)]="displayAddProfit" [style]="{ width: '30vw' }" [modal]="true">

</p-dialog>